.titre1 {
	font-family:"arial";
	color:#033AB9;
	text-align:center;
	font-size: 5.1em;
}
.titre2 {
	font-family:"arial";
	font-size:1.3em;
	color:Black;
}

.titre3 {
	font-family:"arial";
	font-size: 2.9em;
	color: #033AB9;
}